<a href="https://colab.research.google.com/github/nobg0321/ABCD-A/blob/20250310/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%882.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Hello")
print('hello', 'everyone')
print('hello'+'everyone')

Hello
hello everyone
helloeveryone

In [8]:
a = 123
b = 'hello'
print(a,b)
print(a,456,b,'world')

123 hello
123 456 hello world

In [33]:
print('Hello Python!')
print("Nice to meet you.")
print('Hello "Python"')
print("Hello 'Python'")
print('Hello','Python!')
print('Hello' + 'Python!')

Hello Python!
Nice to meet you.
Hello "Python"
Hello 'Python'
Hello Python!
HelloPython!

In [15]:
print("화면에 직접 출력")
print('ab\'c')
print("ab'c")
print("doesn't")
print('doesn')
print('doesn\'t')
print("'string'")
print("\"string\"")
print('"string"')

화면에 직접 출력
ab'c
ab'c
doesn't
doesn
doesn't
'string'
"string"
"string"

In [17]:
s1 = '화면에 직접 출력'
s2 = 'ab\'c'
s3 = 'does'
print(s1)
print(s2)
print(s3)
print(s1[0]) # 첫 글자
print(s2[1]) # 두 번째 글자
print(s3[1:3])
print(s3[-1]) # 마지막 글자
print(s3[-2]) # 뒤에서 두 번째

화면에 직접 출력
ab'c
does
화
b
oe
s
e

In [20]:
a = 2
b = 3.14
c = a+b
print(a)
print(b)
print(c)
print(round(c,2))
print("%.2f" %(c))
print(a+b)
print(a,b,a+b,c)
d = 1e2
e = 1e-2
print(d)
print(e)

2
3.14
5.140000000000001
5.14
5.14
5.140000000000001
2 3.14 5.140000000000001 5.140000000000001
100.0
0.01

In [22]:
item1='사과'
price1=1000
item2='바나나'
price2=500
print(item1,price1)
print(item2,price2)

사과 1000
바나나 500

In [27]:
item1='사과'
price1=1000
item2='바나나'
price2=500
print(item1,price1, sep=',',end='/')
print(item2,price2)

사과,1000/바나나 500

In [31]:
item1='사과'
price1=1000
item2='바나나'
price2=500
str1='{0}는 {1}원 입니다.'
print(str1.format(item1,price1))
print(str1.format(item2,price2))

사과는 1000원 입니다.
바나나는 500원 입니다.

In [32]:
item1='사과'
price1=1000
item2='바나나'
price2=500
str2='%s는 %d원 입니다.'
print(str2%(item1,price1))
print(str2%(item2,price2))

사과는 1000원 입니다.
바나나는 500원 입니다.